:Namespace
    Aliases←'U' 'XL'
    CaseCode←'Off'
    Dependencies←'Utilities' 'CarlisleGroup/XL2APL'
    EntrySpace←'Main'
    GitHubAccount←'PaulMansour'
    KeepHistory←'Off'
    Open←'Utilities' 'CarlisleGroup/XL2APL'
    ProjectSpace←'#.PaulMansour.Stats'
    StartUp←''
    Version←'0.0.9'
:EndNamespace
