{
  "AcreTools": {
    "Alias": "A",
    "Inject": 2
  },
  "CaseCode": "Off",
  "Dependencies": [
    {
      "Alias": "U",
      "IncludeInReleaseNotes": 1,
      "Inject": 2,
      "Name": "Utilities",
      "Version": "^.^.^"
    },
    {
      "Alias": "D",
      "Inject": 2,
      "Name": "Dfns",
      "Version": "0.0.0"
    }
  ],
  "KeepHistory": "Off",
  "OnApplicationStartup": "Main.StartApplication",
  "OnBuild": "Main.BuildWindowsApp",
  "ProjectSpace": "#.PaulMansour.Stats",
  "StartUp": "",
  "Version": "0.0.38"
}
